.body {
  padding: 50px 85px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #212168;
  font-size: 19px;
  line-height: auto;
}

.react-calendar{
  width: 1000px;
  display: flex;
  flex-direction: column-reverse;
}

.react-calendar__tile{
  font-family: 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  padding: 15px;
  background-color: #3636ff;
  border-color: #3636ff;
  border-style: solid;
  border-width: 1px;
  margin-right: 4px;
  margin-bottom: 4px;
  max-width: 138.8px !important;
  min-height: 81.4px;
  border-radius: 4px;
}

.react-calendar__tile:active {
  border-color: #0000e6;
  background-color: #0000e6;
}


.react-calendar__tile-ended{
  color: #21216840;
  background-color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 15px;
  border-color: #21216840;
  border-style: solid;
  border-width: 1px;
  margin-right: 4px;
  margin-bottom: 4px;
  max-width: 138.8px !important;
  min-height: 81.4px;
  border-radius: 4px;
}

.react-calendar__tile-ended:active {
    background-color: #f8f8ff;
    color: #3636ff;
}

.react-calendar_price-true{
  font-size: 13px;
  font-weight: 400;
  padding-top: 3px;
}

.react-calendar_price-false{
  font-size: 13px;
  font-weight: 400;
  padding-top: 3px;
  color: #ffffff00;
}

.react-calendar__month-view__weekdays__weekday{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 12px;
}

.react-calendar__month-view__days__day--neighboringMonth{
  color: #00000000 !important;
  background-color: #ffffff;
  border-color: #21216840;
}

.react-calendar__month-view__days__day--neighboringMonth:active {
    background-color: #f8f8ff;
    color: #3636ff;
}

.react-calendar__navigation{
  max-width: 50%;
  padding-top: 18px;
}

.react-calendar__navigation__label{
  background: #ffffff00;
  border: none;
  font-size: 18px;
  font-weight: 500;
  flex-grow: 0.4 !important;
  padding: 14px 20px;
  border-color: #212168;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  min-width: 240px;
  margin: 0px 4px;
}

.react-calendar__navigation__label:active {
    background-color: #f8f8ff;
}

.react-calendar__navigation__arrow{
  background: #ffffff00;
  border: none;
  padding: 14px;
  min-width: 60px;
  background: white;
  border-color: #212168;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.react-calendar__navigation__arrow:active {
    background-color: #f8f8ff;
    color: #3636ff;
}

.arrow-img{
  max-width: 18px;
  height: auto;
  padding-top: 3px;
}

.react-calendar__col{
  display: flex;
  margin-top: 16px;
}

.react-calendar__key{
  width: 62.8%
}

.react-calendar__key-block-ended{
  background-color: #fff;
  border-color: #21216840;
  border-style: solid;
  border-width: 1px;
  min-width: 16px;
  min-height: 16px;
  margin-left: 8px;
  border-radius: 4px;
}

.react-calendar__key-block-live{
  background-color: #3636ff;
  border-color: #3636ff;
  border-style: solid;
  border-width: 1px;
  min-width: 16px;
  min-height: 16px;
  margin-left: 8px;
  border-radius: 4px;
}

.react-calendar__key-item{
  display: flex;
  height: 10px;
  font-size: 14px;
  font-weight: 400;
}

.react-calendar__key-col{
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
}

.react-calendar__key-col2{
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  margin-top: 16px
}

.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
  display: none;
}


/*
!!!

Font styles are only here for build, do not copy over. These already exist in the main style sheet (neo-ads.css)

!!!
*/


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-CondensedBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
